## Numpy Assigment

**Into how many combination of 3D shape, a numpy array of size 96 can be reshaped?**

**Ans:**

In [2]:
# Only for viewing csv data in better form.
import pandas as pd
df = pd.read_csv('heart-disease.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
import numpy as np

#### 1. Load CSV File:
Load the CSV file using csv reader into a numpy array. Also convert each value to numerical.

In [4]:
from csv import reader

with open('heart-disease.csv', 'r', encoding='utf-8') as file:
    raw_data = np.array(list(reader(file)))

In [6]:
raw_data = raw_data[1:]

In [8]:
final_data = raw_data.astype('float32')

In [10]:
final_data, final_data.shape

(array([[63.,  1.,  3., ...,  0.,  1.,  1.],
        [37.,  1.,  2., ...,  0.,  2.,  1.],
        [41.,  0.,  1., ...,  0.,  2.,  1.],
        ...,
        [68.,  1.,  0., ...,  2.,  3.,  0.],
        [57.,  1.,  0., ...,  1.,  3.,  0.],
        [57.,  0.,  1., ...,  1.,  2.,  0.]], dtype=float32),
 (303, 14))

#### 2. Extract Specific Columns:
Extract columns `age`, `chol`, and `thalach` from the CSV file and store them in a numpy array.

In [11]:
age_chol_thalach = final_data[:, [0, 4, 7]]

#### 3. Filtering Data:
Filter the rows where `sex` is `male` and `age` is greater than 50.

In [14]:
male_age_gt_50 = final_data[(final_data[:, 1] == 1) & (final_data[:, 0] > 50)]
male_age_gt_50

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [56.,  1.,  1., ...,  0.,  2.,  1.],
       [57.,  1.,  0., ...,  0.,  1.,  1.],
       ...,
       [59.,  1.,  0., ...,  2.,  1.,  0.],
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.]], dtype=float32)

#### 4. Compute Statistics:
Compute the mean and standard deviation of the `trestbps` column.

In [15]:
mean = np.mean(final_data[:, 3])
std_deviation = np.std(final_data[:, 3])
mean, std_deviation

(131.62376, 17.509178)

#### 5. Sorting Data:
Sort the data based on the `thalach` column in descending order.

In [16]:
sorted_indices = np.argsort(final_data[:, 7])[::-1]
sorted_data_on_thalach = final_data[sorted_indices]
sorted_data_on_thalach

array([[29.,  1.,  1., ...,  0.,  2.,  1.],
       [54.,  1.,  1., ...,  1.,  3.,  0.],
       [42.,  1.,  2., ...,  0.,  3.,  1.],
       ...,
       [59.,  1.,  0., ...,  2.,  1.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [67.,  1.,  0., ...,  0.,  2.,  0.]], dtype=float32)

#### 6. Writing to CSV:
Write the filtered data from **Question 3** to a new CSV file named `"filtered_data.csv"`.

In [17]:
from csv import writer

with open("filtered_data.csv", "w", newline="") as file:
    csv_writer = writer(file)
    csv_writer.writerows(male_age_gt_50)

#### 7. Conditional Counting:
Count the number of male and female from `sex` column.

#### 8. Conditional Filtering:
Filter the rows where `thal` (thalassemia) is 2 or 3.

### Broadcasting:
Given two arrays A and B of shapes (3, 2) and (1, 2) respectively, perform element-wise addition using broadcasting.

### Dot Product:
Compute the dot product of two matrices A (shape: 3x4) and B (shape: 4x2).

### Sorting:
Sort the elements of a 1D array arr in descending order.

### Counting:
Count the number of occurrences of a specific value in a 2D array 'arr'.

### Reshaping and Resizing:
Reshape a 1D array 'arr' of size 20 into a 2D array of shape (4, 5). Also resize it. Store them into variable and change one value in each case. Check original array and see the difference.

### Flatten and Ravel:
Flatten a 2D array 'arr; into a 1D array. Also Ravel it. Also store them into variable and change one value in each case. Check original array and see the difference.

### View and Copy:
Create a view of a 2D array 'arr' and modify one of its elements. Check if the original array is modified.

### Indexing and Slicing:
Extract the first 3 rows and last 2 columns of a 2D array 'arr'.

### Element-wise Operations:
Compute the square root of each element in a 2D array 'arr'.

### Statistical Operations:
Compute the mean, median, and standard deviation of a 2D array 'arr'.

### Boolean Indexing:
Select elements from a 1D array 'arr' that are greater than a certain threshold.

### Concatenation:
Concatenate two arrays A and B horizontally.

### Unique Elements:
Find the unique elements in a 1D array 'arr'.

### Transpose:
Transpose a 2D array 'arr'.

### Matrix Inversion:
Compute the inverse of a square matrix A.

### Cumulative Sum:
Compute the cumulative sum of elements along a specified axis in a 2D array 'arr'.

### Set Operations:
Perform union, intersection, and difference of two 1D arrays A and B.

### Random Sampling:
Generate a random sample of size 10 from a 1D array 'arr'.